body{
    padding: 0;
    margin: 0;
    background: url(./bg/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    
}

.text_header{
    
    text-align: center;
    color: white;
    background-color: rgba(25, 34, 43, 0.464);
    border-radius: 10px;
}
.table_data{
    width: 80vw;
    background-color: #fff5;
    border-radius:10px;
    box-shadow: 0px 0px 20px 0px rgb(15, 16, 15);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    overflow: hidden;
}
table{
    width: 100%;
    height: 100px;
}
.table_header{
    width: 95%;
    height: 50px;
    background-color: rgba(8, 153, 249, 0.387);
    text-shadow: 0px 10px 20px 0px rgb(15, 16, 15);;
}
.table_body{
    width: 95%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.057);
    text-align: center;
}

table{
    border-collapse: collapse;
}

.table_body tr:nth-child(even){
    background-color: #00000012;
}
.table_body tr:hover{
    background-color: #00000060;
    color: white;
}

@media only screen and (max-width: 660px) {
   
    .data_user_card{
        width: 400px;
        height: 200px;
        background-color: rgba(251, 252, 253, 0.353);
        border: 1px solid rgba(0, 0, 0, 0.289);
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0px 0px 5px 0px rgb(15, 16, 15);

    }
    .data_user_card:hover{
        background-color: rgba(3, 3, 3, 0.278);
        color: rgb(255, 255, 255);
    }
    .row1{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.289);
    }
    .row1 span{
        margin: 10px;
        font-size: large;
        font-weight: 700;
        position:relative; left:10px; top:10px;
    }
    .text_head{
        font-size: small;
        font-weight: 800;
    }
    .text_data{
        font-size: small;
        padding-bottom: 15px;
    }
    
    .row2{
        position: relative; left:20px; top:10px;
    }
    .row3{
        position: relative; left:220px; bottom: 136px;
    }
  }

@media only screen and (max-width: 400px){
    .row2{
        position: relative; left:10px; top:10px;
    }
    .row3{
        position: relative; left:175px; bottom: 136px;
    }
  }  
